flows.json
[{"id":"912337d7.d01ff8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cfe99504.7b8958","type":"ui_form","z":"912337d7.d01ff8","name":"Cadastro usuário","label":"Cadastrar Usuário","group":"b3c263b.eb13ba","order":1,"width":6,"height":8,"options":[{"label":"Id","value":"Id","type":"number","required":true},{"label":"Nome","value":"Nome","type":"text","required":true},{"label":"Empresa","value":"Empresa","type":"text","required":true},{"label":"Senha","value":"Senha","type":"password","required":true},{"label":"Confirmar Senha","value":"Confirmar Senha","type":"password","required":true},{"label":"Classe","value":"Classe","type":"number","required":true}],"formValue":{"Id":"","Nome":"","Empresa":"","Senha":"","Confirmar Senha":"","Classe":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":60,"wires":[["7e5d41f1.68899"]]},{"id":"b2f8e025.82fad","type":"ui_form","z":"912337d7.d01ff8","name":"","label":"Login","group":"28c217d7.2ef698","order":1,"width":0,"height":0,"options":[{"label":"Nome","value":"Nome","type":"text","required":true},{"label":"Senha","value":"Senha","type":"password","required":true},{"label":"Empresa","value":"Empresa","type":"text","required":true}],"formValue":{"Nome":"","Senha":"","Empresa":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":360,"wires":[["6bdd65e3.f3bddc","89bd78bb.751628"]]},{"id":"7e5d41f1.68899","type":"function","z":"912337d7.d01ff8","name":"","func":"if (msg.payload[\"Confirmar Senha\"]==msg.payload[\"Senha\"]){\nmsg.topic = 'Usuário Cadastrado com sucesso!';\n}\nelse{\nmsg.topic = 'As senhas inseridas não coincidem. Refaça o cadastro.';\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["5eceb972.3341e8"]]},{"id":"34a8495d.172d76","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":990,"y":120,"wires":[[]]},{"id":"74592f9b.33506","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"INSERT INTO USUARIO VALUES('\";\nmsg.topic = msg.topic + msg.payload[\"Id\"] +\"'\" + \", '\"+msg.payload[\"Nome\"]+\"'\"+\", '\"+msg.payload[\"Empresa\"]+\"'\"+\", '\"+msg.payload[\"Senha\"]+\"'\"+\", '\"+msg.payload[\"Classe\"]+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["34a8495d.172d76","1ca6f4a3.f2259b"]]},{"id":"5eceb972.3341e8","type":"switch","z":"912337d7.d01ff8","name":"","property":"payload.Senha","propertyType":"msg","rules":[{"t":"eq","v":"payload[\"Confirmar Senha\"]","vt":"msg"},{"t":"neq","v":"payload[\"Confirmar Senha\"]","vt":"msg"}],"checkall":"true","repair":true,"outputs":2,"x":490,"y":100,"wires":[["74592f9b.33506","e8dc55be.09f768"],["856e46b9.6dcfc8"]]},{"id":"1ca6f4a3.f2259b","type":"debug","z":"912337d7.d01ff8","name":"Msg payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":40,"wires":[]},{"id":"6bdd65e3.f3bddc","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"SELECT Empresa, Nome, Senha, Classe FROM USUARIO where Nome ='\";\nmsg.topic = msg.topic+msg.payload.Nome +\"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["7f79248d.c6b18c"]]},{"id":"7f79248d.c6b18c","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":550,"y":360,"wires":[["9985a735.92cff8"]]},{"id":"b453548e.b9ce88","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":790,"y":20,"wires":[],"icon":"node-red/envelope.png"},{"id":"4f681ec4.b0f47","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1010,"y":180,"wires":[],"icon":"node-red/envelope.png"},{"id":"e8dc55be.09f768","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Usuário cadastrado com sucesso!\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":20,"wires":[["b453548e.b9ce88"]]},{"id":"856e46b9.6dcfc8","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"As senhas inseridas não coincidem. Refaça o cadastro.\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["4f681ec4.b0f47"]]},{"id":"8a5b40b2.1514a","type":"catch","z":"912337d7.d01ff8","name":"","scope":null,"uncaught":false,"x":1220,"y":40,"wires":[[]]},{"id":"f31bfacf.779e18","type":"function","z":"912337d7.d01ff8","name":"","func":"context.data = context.data ||{};\nswitch(msg.topic){\n    case \"task1\":\n        context.data.task1 = msg.payload;\n        break;\n     case \"task2\":\n        context.data.task2 = msg.payload;\n        break;\n}\nif (context.data.task1 == context.data.task2)\n      msg.payload = 1;\n    else msg.payload =0;\n  \nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["bf25d244.c9dd5"]]},{"id":"bf25d244.c9dd5","type":"switch","z":"912337d7.d01ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":360,"wires":[["df1973f6.b2969"],["950d325f.5d5d2"]]},{"id":"df1973f6.b2969","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Usuário realizou o login com sucesso.\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":320,"wires":[["622deea3.a1fb3","6a5b832d.8b858c"]]},{"id":"950d325f.5d5d2","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Alguma das informações inseridas não coincidem, por favor tente novamente.\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":380,"wires":[["83815541.e23708"]]},{"id":"83815541.e23708","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1330,"y":400,"wires":[],"icon":"node-red/envelope.png"},{"id":"89bd78bb.751628","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic ='task1';\nmsg.payload =msg.payload.Nome+\",\"+msg.payload.Senha+\",\"+msg.payload.Empresa;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":280,"wires":[["f31bfacf.779e18"]]},{"id":"9985a735.92cff8","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic ='task2';\nmsg.payload = msg.payload[0].Nome+\",\"+msg.payload[0].Senha+\",\"+msg.payload[0].Empresa;\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["f31bfacf.779e18"]]},{"id":"622deea3.a1fb3","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1330,"y":280,"wires":[],"icon":"node-red/envelope.png"},{"id":"fb9b3079.e7c2c","type":"ui_form","z":"912337d7.d01ff8","name":"Cadastro Produto","label":"Cadastrar Produto","group":"296ebc1e.b1e484","order":1,"width":6,"height":5,"options":[{"label":"Id","value":"Id","type":"text","required":true},{"label":"Empresa","value":"Empresa","type":"text","required":true},{"label":"Estoque","value":"Estoque","type":"number","required":true}],"formValue":{"Id":"","Empresa":"","Estoque":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":760,"wires":[["8a00f6fe.98da18","bd916239.5459a"]]},{"id":"974e80b5.6dd48","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":470,"y":800,"wires":[[]]},{"id":"bd916239.5459a","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"INSERT INTO Produto VALUES('\";\nmsg.topic = msg.topic + msg.payload[\"Id\"] +\"'\" + \", '\"+msg.payload[\"Empresa\"]+\"'\"+\", '\"+msg.payload[\"Estoque\"]+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":800,"wires":[["974e80b5.6dd48"]]},{"id":"6407d7b7.ade5f8","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":490,"y":720,"wires":[],"icon":"node-red/envelope.png"},{"id":"8a00f6fe.98da18","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Produto cadastrado com sucesso!\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["6407d7b7.ade5f8"]]},{"id":"945346d8.766568","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"change","x":1460,"y":220,"wires":[[]]},{"id":"ace98313.c027d","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"a35b0240.dc413","order":2,"width":0,"height":0,"passthru":false,"label":"Cadastro de Usuário","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":1880,"wires":[["cabdb79f.710238"]]},{"id":"356270be.f1b5a","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"a35b0240.dc413","order":3,"width":0,"height":0,"passthru":false,"label":"Cadastro de Produto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":1920,"wires":[["3509a514.6f668a"]]},{"id":"1d5f625.098529e","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"a35b0240.dc413","order":4,"width":0,"height":0,"passthru":false,"label":"Remoção de Usuário","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":260,"y":2000,"wires":[["4aca7a3b.ef81c4"]]},{"id":"4f1f8223.46754c","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"a35b0240.dc413","order":5,"width":0,"height":0,"passthru":false,"label":"Remover Produto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":250,"y":2120,"wires":[["a704e803.15ac08"]]},{"id":"84749628.81efe8","type":"ui_template","z":"912337d7.d01ff8","group":"a35b0240.dc413","name":"","order":1,"width":0,"height":0,"format":"<div align=\"center\">Bem-vindo a Forecast & Sales, selecione uma\ndas opções abaixo para relizar alguma operação.</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":80,"y":1880,"wires":[[]]},{"id":"c787f630.483028","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":1880,"wires":[[]]},{"id":"cabdb79f.710238","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"d89a00fb.8b353","order":1,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":490,"y":1880,"wires":[["c787f630.483028"]]},{"id":"6fdf8562.bfffcc","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":1920,"wires":[[]]},{"id":"59f04ef2.c141e","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2120,"wires":[[]]},{"id":"36375af0.826066","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2000,"wires":[[]]},{"id":"e2331c62.30c57","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":420,"y":180,"wires":[[]]},{"id":"31ee50fc.8a8c3","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":836.6666259765625,"y":1955,"wires":[[]]},{"id":"51a96f9.84a719","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Usuário removido com sucesso!\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["2409d566.b9ce6a"]]},{"id":"521e7733.8f4aa8","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"DELETE FROM USUARIO WHERE idUsuario =\";\nmsg.topic = msg.topic + msg.payload[\"Id\"] +\";\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["33976a41.6cc526"]]},{"id":"2409d566.b9ce6a","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":490,"y":440,"wires":[],"icon":"node-red/envelope.png"},{"id":"33976a41.6cc526","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":470,"y":520,"wires":[[]]},{"id":"83933b6b.d5be08","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2080,"wires":[[]]},{"id":"dd3f5a9d.bc4498","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2040,"wires":[[]]},{"id":"61e11954.ff32b8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2160,"wires":[[]]},{"id":"7368ae7a.98afa","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2200,"wires":[[]]},{"id":"e2eb73e0.e2afb","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2240,"wires":[[]]},{"id":"3b82c05a.9e9a9","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":500,"y":580,"wires":[[]]},{"id":"3330acec.12ae54","type":"ui_button","z":"912337d7.d01ff8","name":"Retornar","group":"fb35ebd7.cb3428","order":3,"width":2,"height":1,"passthru":false,"label":"Retornar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":320,"y":580,"wires":[["3b82c05a.9e9a9","3342e23.20d891e","82b02f32.7ef4a"]]},{"id":"3342e23.20d891e","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":500,"y":620,"wires":[[]]},{"id":"82b02f32.7ef4a","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":500,"y":660,"wires":[[]]},{"id":"92c68ad2.80dc08","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":500,"y":860,"wires":[[]]},{"id":"76f304a4.99fe7c","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":500,"y":900,"wires":[[]]},{"id":"5172aa03.d3efb4","type":"ui_button","z":"912337d7.d01ff8","name":"Retornar","group":"296ebc1e.b1e484","order":3,"width":2,"height":1,"passthru":false,"label":"Retornar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":320,"y":860,"wires":[["92c68ad2.80dc08","76f304a4.99fe7c"]]},{"id":"3509a514.6f668a","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"f852cadd.d1da38","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":490,"y":1920,"wires":[["6fdf8562.bfffcc","31ee50fc.8a8c3"]]},{"id":"4aca7a3b.ef81c4","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"4f205842.cc8178","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":490,"y":2000,"wires":[["36375af0.826066","dd3f5a9d.bc4498","83933b6b.d5be08"]]},{"id":"a704e803.15ac08","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"aedc800b.c01e3","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":490,"y":2120,"wires":[["61e11954.ff32b8","59f04ef2.c141e","7368ae7a.98afa","e2eb73e0.e2afb"]]},{"id":"b97b8781.7fcb18","type":"ui_button","z":"912337d7.d01ff8","name":"Retornar","group":"b3c263b.eb13ba","order":3,"width":2,"height":1,"passthru":false,"label":"Retornar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":240,"y":180,"wires":[["e2331c62.30c57"]]},{"id":"ba9db3aa.def1b","type":"ui_form","z":"912337d7.d01ff8","name":"Remover Usuário","label":"Remover Usuário","group":"fb35ebd7.cb3428","order":1,"width":0,"height":0,"options":[{"label":"Id","value":"Id","type":"number","required":true},{"label":"Empresa","value":"Empresa","type":"text","required":true}],"formValue":{"Id":"","Empresa":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":480,"wires":[["51a96f9.84a719","521e7733.8f4aa8"]]},{"id":"6a5b832d.8b858c","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"43fb4718.69a618","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":1310,"y":220,"wires":[["945346d8.766568"]]},{"id":"48ab07fb.2f8278","type":"ui_form","z":"912337d7.d01ff8","name":"Remover Produto","label":"Remover Produto","group":"2eb83f70.75fd8","order":1,"width":0,"height":0,"options":[{"label":"Id","value":"Id","type":"number","required":true}],"formValue":{"Id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":1020,"wires":[["17728d72.d02453","983ced99.72f32"]]},{"id":"86e3b3d4.34eca","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":470,"y":1060,"wires":[[]]},{"id":"983ced99.72f32","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"DELETE FROM PRODUTO WHERE idProduto =\";\nmsg.topic = msg.topic + msg.payload[\"Id\"] +\";\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1060,"wires":[["86e3b3d4.34eca"]]},{"id":"37bdfc53.8d9ca4","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":490,"y":980,"wires":[],"icon":"node-red/envelope.png"},{"id":"17728d72.d02453","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Produto removido com sucesso!\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":980,"wires":[["37bdfc53.8d9ca4"]]},{"id":"7ef49306.dce23c","type":"ui_button","z":"912337d7.d01ff8","name":"Retornar","group":"2eb83f70.75fd8","order":3,"width":2,"height":1,"passthru":false,"label":"Retornar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":320,"y":1120,"wires":[["7c2546e0.6324b8","2a6e5f69.bb111","b4e185c5.a08d28","bbc4dc4a.dace3"]]},{"id":"7c2546e0.6324b8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":480,"y":1120,"wires":[[]]},{"id":"2a6e5f69.bb111","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":480,"y":1160,"wires":[[]]},{"id":"b4e185c5.a08d28","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":480,"y":1200,"wires":[[]]},{"id":"bbc4dc4a.dace3","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":480,"y":1240,"wires":[[]]},{"id":"d6ce404d.fccb9","type":"ui_button","z":"912337d7.d01ff8","name":"Cálculo de Demanda","group":"a35b0240.dc413","order":6,"width":0,"height":0,"passthru":false,"label":"Cálculo de Demanda","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":260,"y":2280,"wires":[["deb3fbdf.c78588"]]},{"id":"deb3fbdf.c78588","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"c0b96c39.cf76","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":490,"y":2280,"wires":[["870b7f3c.72237","2f16e8e7.3922b8","9d3e344.926d4c8","f50c69a7.9dd658","d1300267.fc8ef"]]},{"id":"870b7f3c.72237","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2280,"wires":[[]]},{"id":"2f16e8e7.3922b8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2320,"wires":[[]]},{"id":"9d3e344.926d4c8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2360,"wires":[[]]},{"id":"f50c69a7.9dd658","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2400,"wires":[[]]},{"id":"d1300267.fc8ef","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2440,"wires":[[]]},{"id":"cd8a2dbd.7e1e4","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":240,"y":1460,"wires":[[]]},{"id":"eaa7461.27b7ab8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":240,"y":1500,"wires":[[]]},{"id":"eec5c05b.dd2a6","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":240,"y":1540,"wires":[[]]},{"id":"8985f8d4.4af3c8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":240,"y":1580,"wires":[[]]},{"id":"5893b280.4edf2c","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":240,"y":1620,"wires":[[]]},{"id":"f6badb40.df04f8","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"f53fbf47.e706b","order":3,"width":2,"height":1,"passthru":false,"label":"Retornar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":80,"y":1460,"wires":[["cd8a2dbd.7e1e4","eaa7461.27b7ab8","eec5c05b.dd2a6","8985f8d4.4af3c8","5893b280.4edf2c"]]},{"id":"6a7ba937.57bbd8","type":"ui_form","z":"912337d7.d01ff8","name":"Demanda","label":"Insira o valor da demanda por período do produto","group":"f53fbf47.e706b","order":2,"width":0,"height":0,"options":[{"label":"Id","value":"Id","type":"number","required":true},{"label":"Demanda","value":"Demanda","type":"number","required":true},{"label":"Período","value":"Periodo","type":"number","required":true}],"formValue":{"Id":"","Demanda":"","Periodo":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":1360,"wires":[["2de46ec8.bf5942","29c92042.7c556"]]},{"id":"791ad43b.bef16c","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"f53fbf47.e706b","order":5,"width":2,"height":1,"passthru":false,"label":"Finalizar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"+1","payloadType":"str","topic":"","x":420,"y":1460,"wires":[["790c99fc.b53348"]]},{"id":"790c99fc.b53348","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":560,"y":1460,"wires":[[]]},{"id":"2de46ec8.bf5942","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"SELECT IdProduto,Período FROM Demanda where IdProduto ='\";\nmsg.topic = msg.topic+msg.payload.Id +\"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1400,"wires":[["df41d9f2.acd9f8"]]},{"id":"df41d9f2.acd9f8","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":390,"y":1400,"wires":[["c7b445b9.b43938"]]},{"id":"29c92042.7c556","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic ='task1';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1340,"wires":[["b935db3b.fcc068"]]},{"id":"2ac6ebde.1d8424","type":"switch","z":"912337d7.d01ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1400,"wires":[["b935db3b.fcc068"],["c75c4457.88ba08"]]},{"id":"c632d2ee.a822e","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"Demanda Inserida com Sucesso.\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1300,"wires":[["c724b6a9.a87258"]]},{"id":"c75c4457.88ba08","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"O Id do produto inserido não é válido, por favor tente novamente.\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1400,"wires":[["54cf70ab.eefdb"]]},{"id":"54cf70ab.eefdb","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":950,"y":1400,"wires":[],"icon":"node-red/envelope.png"},{"id":"c724b6a9.a87258","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":1300,"wires":[],"icon":"node-red/envelope.png"},{"id":"2afcb382.8ba17c","type":"function","z":"912337d7.d01ff8","name":"","func":"var x;\nvar i=0;\n\nfor(i=0; i< (msg.payload[1].length);i++){\nif (msg.payload[1][i][\"Período\"] == msg.payload[0].Periodo)\n      x=1;\n}\nif(x==1) msg.payload={}\nelse msg.payload=msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1340,"wires":[["2319433a.2fb9ec"]]},{"id":"2319433a.2fb9ec","type":"switch","z":"912337d7.d01ff8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":1340,"wires":[["c632d2ee.a822e","803f3380.198fe"],["6eec1c55.8377c4"]]},{"id":"6eec1c55.8377c4","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload = \"No período inserido já existe um valor cadastrado, por favor tente novamente.\";\nmsg.topic =\"\";\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1340,"wires":[["7d3c177e.effb18"]]},{"id":"7d3c177e.effb18","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":1340,"wires":[],"icon":"node-red/envelope.png"},{"id":"803f3380.198fe","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"INSERT INTO DEMANDA VALUES('\";\nmsg.topic = msg.topic + msg.payload[\"Periodo\"] +\"'\" + \", '\"+msg.payload[\"Demanda\"]+\"'\"+\", '\"+msg.payload[\"Id\"]+\"');\";\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1260,"wires":[["5534a9ff.6f8fa8"]]},{"id":"c7b445b9.b43938","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic ='task2';\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":1400,"wires":[["2ac6ebde.1d8424"]]},{"id":"b935db3b.fcc068","type":"join","z":"912337d7.d01ff8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":1340,"wires":[["2afcb382.8ba17c"]]},{"id":"5534a9ff.6f8fa8","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":1230,"y":1260,"wires":[[]]},{"id":"d6159a02.5a30f8","type":"ui_template","z":"912337d7.d01ff8","group":"f53fbf47.e706b","name":"","order":1,"width":7,"height":3,"format":"<div align=\"center\">Caso não haja valores de demanda cadastrados insira os dados correspondentes e clique no botão 'Submit', caso contrário selcione 'Finalizar' para prosseguir para a previsão de demanda.</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":80,"y":1300,"wires":[[]]},{"id":"edc4ec9b.4d52d","type":"ui_form","z":"912337d7.d01ff8","name":"Escolha Demanda","label":"Selecione o Id do produto para qual será realizada a previsão de demanda ","group":"92697ea2.c0ab","order":1,"width":10,"height":3,"options":[{"label":"Id","value":"Id","type":"number","required":true}],"formValue":{"Id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":1760,"wires":[["ca7616f8.dd10a8"]]},{"id":"ca7616f8.dd10a8","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.topic = \"SELECT Período, Valor FROM Demanda where IdProduto ='\";\nmsg.topic = msg.topic+msg.payload.Id +\"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1760,"wires":[["368b9ca6.6a21a4"]]},{"id":"368b9ca6.6a21a4","type":"mysql","z":"912337d7.d01ff8","mydb":"d5d085b5.b6bf78","name":"forecastdb","x":490,"y":1760,"wires":[["a5484783.05dcd8"]]},{"id":"bbb4bb44.e65b58","type":"ui_chart","z":"912337d7.d01ff8","name":"","group":"92697ea2.c0ab","order":3,"width":10,"height":6,"label":"Previsão de Demanda","chartType":"line","legend":"true","xformat":"SSS","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"200","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":1760,"wires":[[]]},{"id":"a5484783.05dcd8","type":"function","z":"912337d7.d01ff8","name":"","func":"var t;\nvar valor;\n\nvar i=0;\nvar dataarray = [[]];\n\nfor (i=0; i< msg.payload.length; i++) {\nt = Number(i+1);\nvalor = Number(msg.payload[i].Valor);\ndataarray[0][i] = {'x':t,'y':valor};\n\n}\n\nvar chart = [{\n    \"series\":[\"Demanda =\"],\n    \"data\":dataarray,\n    \"labels\":[\"\"]\n}];\n\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1760,"wires":[["bbb4bb44.e65b58"]]},{"id":"d4063b1.33771c8","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":960,"y":1820,"wires":[[]]},{"id":"366c16a8.262dea","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"92697ea2.c0ab","order":5,"width":2,"height":1,"passthru":false,"label":"Retornar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":800,"y":1820,"wires":[["d4063b1.33771c8"]]},{"id":"7a6674cf.95ddec","type":"ui_ui_control","z":"912337d7.d01ff8","name":"","events":"all","x":840,"y":2500,"wires":[[]]},{"id":"10cef34c.7c00cd","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"a35b0240.dc413","order":7,"width":0,"height":0,"passthru":false,"label":"Sair","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":230,"y":2500,"wires":[["4b019c4b.958b24","e0ee0bf8.a07748"]]},{"id":"4b019c4b.958b24","type":"ui_button","z":"912337d7.d01ff8","name":"","group":"63e63045.726cc","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"-1","payloadType":"str","topic":"","x":490,"y":2500,"wires":[["7a6674cf.95ddec"]]},{"id":"af2272b3.b1307","type":"ui_toast","z":"912337d7.d01ff8","position":"bottom right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":2560,"wires":[],"icon":"node-red/envelope.png"},{"id":"e0ee0bf8.a07748","type":"function","z":"912337d7.d01ff8","name":"","func":"msg.payload ='Usuário desconectado.';\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2560,"wires":[["af2272b3.b1307"]]},{"id":"b3c263b.eb13ba","type":"ui_group","z":"","name":"Cadastro Usuário","tab":"7481ac7e.b0beb4","order":1,"disp":false,"width":"6","collapse":false},{"id":"28c217d7.2ef698","type":"ui_group","z":"","name":"login","tab":"98b07958.6919c8","disp":false,"width":"6","collapse":false},{"id":"d5d085b5.b6bf78","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"forecastdb","tz":""},{"id":"296ebc1e.b1e484","type":"ui_group","z":"","name":"Retornar","tab":"3fe6f810.5a4058","disp":false,"width":"6","collapse":false},{"id":"a35b0240.dc413","type":"ui_group","z":"","name":"Menu","tab":"4163b7e7.b39088","order":2,"disp":false,"width":"9","collapse":false},{"id":"d89a00fb.8b353","type":"ui_group","z":"","name":"Menu_1","tab":"42f30d7c.b98df4","order":1,"disp":false,"width":"7","collapse":false},{"id":"fb35ebd7.cb3428","type":"ui_group","z":"","name":"Retornar","tab":"a5c56e3d.0bbda","order":2,"disp":false,"width":"6","collapse":false},{"id":"f852cadd.d1da38","type":"ui_group","z":"","name":"Menu_2","tab":"42f30d7c.b98df4","order":2,"disp":true,"width":"6","collapse":false},{"id":"4f205842.cc8178","type":"ui_group","z":"","name":"Menu_3","tab":"42f30d7c.b98df4","order":3,"disp":true,"width":"7","collapse":false},{"id":"aedc800b.c01e3","type":"ui_group","z":"","name":"Menu_4","tab":"42f30d7c.b98df4","order":4,"disp":true,"width":"6","collapse":false},{"id":"43fb4718.69a618","type":"ui_group","z":"","name":"Login","tab":"42f30d7c.b98df4","order":2,"disp":true,"width":"6","collapse":false},{"id":"2eb83f70.75fd8","type":"ui_group","z":"","name":"Retornar","tab":"adafd85c.639cf8","disp":false,"width":"6","collapse":false},{"id":"c0b96c39.cf76","type":"ui_group","z":"","name":"Menu_5","tab":"42f30d7c.b98df4","order":1,"disp":false,"width":"6","collapse":false},{"id":"f53fbf47.e706b","type":"ui_group","z":"","name":"Demanda","tab":"12003961.c67e07","disp":false,"width":7,"collapse":false},{"id":"92697ea2.c0ab","type":"ui_group","z":"","name":"Gráfico","tab":"9cf3ce05.f6a09","order":3,"disp":false,"width":10,"collapse":false},{"id":"63e63045.726cc","type":"ui_group","z":"","name":"Menu_6","tab":"42f30d7c.b98df4","disp":false,"width":"6","collapse":false},{"id":"7481ac7e.b0beb4","type":"ui_tab","z":"","name":"Cadastro Usuário","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"98b07958.6919c8","type":"ui_tab","z":"","name":"Validação","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3fe6f810.5a4058","type":"ui_tab","z":"","name":"Produto","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"4163b7e7.b39088","type":"ui_tab","z":"","name":"Menu","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"42f30d7c.b98df4","type":"ui_tab","z":"","name":"Botões","icon":"dashboard","order":9,"disabled":false,"hidden":true},{"id":"a5c56e3d.0bbda","type":"ui_tab","z":"","name":"Remover Usuário","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"adafd85c.639cf8","type":"ui_tab","z":"","name":"Remover Produto","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"12003961.c67e07","type":"ui_tab","z":"","name":"Demanda","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"9cf3ce05.f6a09","type":"ui_tab","z":"","name":"Cálculo_Demanda","icon":"dashboard","order":8,"disabled":false,"hidden":false}]